<!-- Rendered Login screen content -->

<br/><br/><br/>

<!-- inline style CSS for the letter layout (outlined box with shadow, all page current content contained in this) -->
<div style="display:table;max-width:1100px;width:90%;max-height:900px;height:90%;
            margin:0 auto;box-shadow:1px 1px 5px rgba(0,0,0,.1)">

  <!-- get and render image on left side  -->
  <div class="col-md-8">
    <img src="https://www.ishn.com/ext/resources/900x550/airplane-plane-flight-900.jpg" class="img-rounded" alt="Cinque Terre" height="100%" width="100%" style="margin-bottom:32px; margin-left:12px; margin-top: 32px;">
  </div>

  <!-- Render right side, the log-in form -->
  <div class="col-md-4">
    <!-- Render log-in with user name -->
    <form  method="POST" action "/login" autocomplete="off" id="login-form">
      <!-- Secure the form to prevent user information from getting stolen -->
      <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
      <center>
        <h1 style="font-family: 'HelveticaNeue';font-size:64px">Log In</h1>
      </center>
      <br/>
      <div class="form-group">
        <input type="email" class="form-control" id="email_field" name="email" placeholder="Email" required="" value="<%= @cusername if @cusername != nil %>">
      </div>
          
      <div class="form-group">
        <input type="password" id="password_field" name="password" class="form-control" placeholder="Password" required="" value="<%= @cpassword if @cpassword != nil %>">
      </div>
      <div class="col-md-8 col-md-offset-2">
        <input type="submit" class="btn btn-primary btn-block" value="Log In" />           
      </div>
    </form>

    <br/><br/>
    <hr style="margin-bottom: 4px">

    <!-- Render Twitter login -->
    <div class="col-md-8 col-md-offset-2">
      <h1 style="font-family: 'HelveticaNeue-Thin'; text-align: center; font-size:20px"><strong>Log-in</strong> with Twitter</h1>
      <br>
      <center>
        <a href="/auth/twitter" style="text-decoration: none;"><input class="btn btn-info submit-button" value="Twitter" /></a>
      </center>
    </div>
  </div>
</div>


    