<!-- The welcom page -->

<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css">
</head>

<center>
	<div class="col-md-8 col-md-offset-2">
  		<!-- Load line-icon as image -->
  		<div class="col-md-10 col-md-offset-1">
    		<h1 style="font-family: 'HelveticaNeue';font-size:64px">ProgFlight</h1>
    		<div class="illustration" style="text-align:center;padding:0 0 0px;font-size:300px;color:#8AC3EA;">
    			<i class="icon-plane"></i>
    		</div>
  		</div>
  		<h3 style="font-family: 'HelveticaNeue-Light'">ProgFlight is an essential application for any general aviation pilot. It provides specific flight plan for any destination taking into consideration your airplane, current weather, and flight restrictions</h3>
	</div>
</center>