<!-- Settings screen to change pilot and account information -->

<center>
	<h1>Settings</h1>
	<hr/>
</center>

<!-- Tab view for profile page (personal, Airplanes, password(if applicable)) -->
<div class="wrapper wrapper-content animated fadeInUp">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <div class="tabs-container">
            <div class="tabs-top">
                <!-- creat the three tabs -->
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#personal">Personal</a></li>
                    <li class=""><a data-toggle="tab" href="#profile">Airplanes</a></li>
                    <% if @pilot.provider != "twitter" %>
                      <li class=""><a data-toggle="tab" href="#password">Password</a></li>
                    <% end %>
                </ul>
                <!-- Personal tab -->
                <div class="tab-content ">
                    <div id="personal" class="tab-pane active">
                        <div class="panel-body">
                          <form action="/pilots/<%= @pilot.id %>" method="post">
                            <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
                          	<label>First Name</label>
                            <input name="firstname" type="text" class="form-control" placeholder="First Name" value="<%= @pilot.name.split(' ')[0] %>"/><br/>

                             <label>Last Name</label>
                             <input type="text" name="lastname" class="form-control" placeholder="Last Name" value="<%= @pilot.name.split(' ')[1] %>"/><br/>

                             <label>Home Airport ICAO Identifier</label>
                             <input type="text" name="pilot[base]" class="form-control" placeholder="E.g. KBED" value="<%= @pilot.base %>"><br/>

                             <label>Highest Certificate Held</label>
                             <select name="rating" class="form-control">
                              <% if @pilot.rating == "Private Pilot" %>
                                <option selected="selected" value="0">Private Pilot</option>
                                <option value="1">Commercial Pilot</option>
                                <option value="2">Certificated Flight Instructor</option>
                                <option value="3">Certificated Flight Instructor/IA</option>
                                <option value="4">Airline Transport Pilot</option>
                              <% elsif @pilot.rating == "Commercial Pilot" %>
                                <option value="0">Private Pilot</option>
                                <option selected="selected" value="1">Commercial Pilot</option>
                                <option value="2">Certificated Flight Instructor</option>
                                <option value="3">Certificated Flight Instructor/IA</option>
                                <option value="4">Airline Transport Pilot</option>
                              <% elsif @pilot.rating == "CFI" %>
                                <option value="0">Private Pilot</option>
                                <option value="1">Commercial Pilot</option>
                                <option selected="selected" value="2">Certificated Flight Instructor</option>
                                <option value="3">Certificated Flight Instructor/IA</option>
                                <option value="4">Airline Transport Pilot</option>
                              <% elsif @pilot.rating == "CFII" %>
                                <option value="0">Private Pilot</option>
                                <option value="1">Commercial Pilot</option>
                                <option value="2">Certificated Flight Instructor</option>
                                <option selected="selected" value="3">Certificated Flight Instructor/IA</option>
                                <option value="4">Airline Transport Pilot</option>
                              <% elsif @pilot.rating == "ATP" %>
                                <option value="0">Private Pilot</option>
                                <option value="1">Commercial Pilot</option>
                                <option value="2">Certificated Flight Instructor</option>
                                <option value="3">Certificated Flight Instructor/IA</option>                                         
                                <option selected="selected" value="4">Airline Transport Pilot</option>
                              <% end %>

                              
                             </select><br/>

                             <label>Instrument Rated</label>
                             <select name="instrument" class="form-control">
                                <% if @pilot.instrument %>
                                  <option selected="selected" value="true">Yes</option>
                                  <option value="false">No</option>
                                <% else %>
                                  <option value="true">Yes</option>
                                  <option selected="selected" value="false">No</option>
                                <% end %>
                                
                             </select><br/>

                             <% if @pilot.provider != "twitter" %>

                              <label>Email</label>
                              <input type="text" class="form-control" name="pilot[email]" value="<%= @pilot.email %>"><br/>
                            
                              <% else %>
                                <label>You are logged in through Twitter</label><br/><br/>
                              <% end %>

                             <button type="submit" class="btn btn-primary">Save Changes</button>
                           </form>
                        </div>
                      </div>

                      <!-- Planes tab -->
                      <div id="profile" class="tab-pane">
                       <div class="panel-body">
                          <label>Tail Number</label><br/>
                          <%= @airplane.tailnumber %><br/><br/>

                          <label>Best Angle of Climb Speed (V<sub>x</sub>)</label><br/>
                          <%= @airplane.vx %><br/><br/>

                          <label>Best Rate of Climb Speed (V<sub>y</sub>)</label><br/>
                          <%= @airplane.vy %><br/><br/>

                          <label>Best Glide Speed (V<sub>g</sub>)</label><br/>
                          <%= @airplane.vg %><br/><br/>

                          <label>Airplane Make and Model</label><br/>
                          <%= @airplane.make %><br/><br/>
                        </div>
                      </div>
                      
                      <!-- Change password tab; do not load if Twitter OAuth was used to create account -->
                      <% if @pilot.provider != "twitter" %>
                        <div id="password" class="tab-pane">
                          <div class="panel-body">

                            <form action="/pilots/<%= @pilot.id %>" method="POST">
                              <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
                              <label>Password</label>
                              <input type="password", class="form-control" name="pilot[password]"/>

                              <label>Password Confirmation</label>
                              <input name="pilot[password_confirmation]", class="form-control" type="password"/><br/>

                              <button type="submit" class="btn btn-primary">Update Password</button>
                            </form>
                          </div>
                        </div>
                      <% end %>
                    	
                </div>

            </div>
          </div>
        </div>
    </div>
  </div>

<script>
// Javascript to enable link to tab
var url = document.location.toString();
if (url.match('#')) {
    $('.nav-tabs a[href="#' + url.split('#')[1] + '"]').tab('show');
} 

// Change hash for page-reload
$('.nav-tabs a').on('shown.bs.tab', function (e) {
    window.location.hash = e.target.hash;
})
</script>
