<!-- Rendered Pilot initial form (after first time log-in) -->

<h1 align="center">Initial Setup</h1>
<center>
	<form method="POST" action="/pilots/<%= current_user.id %>/initial">
		<%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
		<label>Highest Pilot Certificate Held</label>
		<br/>
		<!-- Allowed values for dropdown menu of type of certificate -->
		<select name="certificate">
			<option value="0">Private Pilot</option>
			<option value="1">Commercial Pilot</option>
			<option value="2">Certificated Flight Instructor</option>
			<option value="3">Certificated Flight Instructor/IA</option>
			<option value="4">Airline Transport Pilot</option>
		</select>
		<br/><br/>
		<label>Are you Instrument Rated?</label>
		<br/>
		<select name="instrument_rated">
			<option value="0">Yes</option>
			<option value="1">No</option>
		</select>
		<br/><br/>
		<label>Home Airport ICAO Identifier</label>
		<br/>
		<input type="text" name="base" placeholder="E.g. KJFK"/>
		<br/>

		<hr/>
		
		<h2>Airplane Information</h2>
		<label>Tail Number</label><br/>
		<input type="text" name="tailnumber" placeholder="E.g. N12345" /><br/><br/>
		
		<label>Best Angle of Climb Speed (V<sub>x</sub>)</label><br/>
		<input type="text" name="vx" placeholder="E.g. 65" /><br/><br/>

		<label>Best Rate of Climb Speed (V<sub>y</sub>)</label><br/>
		<input type="text" name="vy" placeholder="E.g. 75" /><br/><br/>

		<label>Best Glide Speed (V<sub>g</sub>)</label><br/>
		<input type="text" name="vg" placeholder="E.g. 80" /><br/><br/>

		<label>Make and Model</label><br/>
		<input type="text" name="make" placeholder="E.g. Cessna 172M" /><br/><br/>		

		<input type="submit" value="Submit" class="btn btn-primary"/>
	</form>
</center>
