<!-- Render page to create a new account-->

<!-- error message for filling out form -->
<% if @pilot.errors.any? %>
  <center>
    <% @pilot.errors.full_messages.each do |message| %>
      <%= message %><br/>
    <% end %>
  </center>
<% end %>


<br/><br/><br/>

<!-- inline style CSS for the letter layout (outlined box with shadow, all page current content contained in this) -->
<div style="display:table;max-width:1100px;width:90%;max-height:900px;height:90%;
        margin:0 auto;box-shadow:1px 1px 5px rgba(0,0,0,.1)">
  <!-- get and render image on left side  -->
  <div class="col-md-8">
    <!-- Render image from directory for left side of form -->
    <img src="/registerimg.jpg" class="img-rounded" alt="Cinque Terre" height="100%" width="100%" style="margin-bottom:42px; margin-left:12px; margin-top: 42px;">
  </div>

  <!-- Render creat account form on right side--> 
  <div class="col-md-4">

    <!-- Creat account without third party Authentication -->
    <form class="new_pilot" id="new_pilot" action="/pilots" accept-charset="UTF-8" method="post" onsubmit="return mungeDate();">
        <!-- Secure the form to prevent user information from getting stolen -->
        <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
        <center>
          <h1 style="font-family: 'HelveticaNeue';font-size:46px">Sign Up</h1>
        </center>
        <div class="inner-addon left-addon">
          <input type="text" name="firstname" placeholder="First Name" class="form-control" style="margin-bottom: 4px" />
        </div>
        <div class="inner-addon left-addon">
          <input type="text" name="lastname" placeholder="Last Name" class="form-control" style="margin-bottom: 4px"/>
        </div>
        <div class="inner-addon left-addon">
          <input type="text" name="pilot[email]" class="form-control" placeholder="E-mail" style="margin-bottom: 4px"/>
        </div>
        <div class="inner-addon left-addon">
          <input name="pilot[password]" type="password" placeholder="Password (8 chars minimum)" class="form-control" style="margin-bottom: 4px"/>
        </div>

        <label>Date of Birth</label>
        <input type="hidden" id="actDob" name="pilot[dob]" value=""/>
        <div class="row">
          <div class="col-md-4">
            <select id="birthYear" name="year">
              <% for y in @years %>
                <option value="<%= y %>"><%= y %></option>
              <% end %>
            </select>
          </div>
          <div class="col-md-4">
            <select id="birthMonth" name="month" >
              <% @months.each_with_index do |m, i| %>
                <option value="<%= (i + 1)%>"><%= m %></option>
              <% end %>
            </select>
          </div>
          <div class="col-md-4">
            <select id="birthDay" name="day">
              <% for d in @days %>
                <option value="<%= d %>"><%= d %></option>
              <% end %>
            </select>
          </div>
        </div>
        <br/>
        <div class="col-md-8 col-md-offset-2">
          <input type="submit" class="btn btn-primary btn-block" value="Create Account" />           
        </div>
      </form>
      <br/><br/>

      <hr style="margin-bottom: 4px">

      <!-- Render creat account with twitter -->
      <div class="col-md-8 col-md-offset-2">
        <h1 style="font-family: 'HelveticaNeue-Thin'; text-align: center; font-size:20px"><strong>Log-in</strong> with Twitter</h1>
        <br>
        <center>  
          <a href="/auth/twitter" style="text-decoration: none;"><input class="btn btn-info submit-button" value="Twitter" /></a>
        </center>
      </div>
      <div class="col-md-12" style="text-align: center; margin-top: 10px;">
        <!-- Link to terms of use agreement -->
        <small>
          By signing up, you agree to our <a style="text-decoration: none;" href="/terms" target="_blank">Terms of Use</a>
        </small>
      </div>
    </div>
</div>

<!-- Script for handling the given date of birth, used as form action as seen in the form tag -->
<script>
  function mungeDate() {
    var year = document.getElementById("birthYear").value;
    var monthStr = document.getElementById("birthMonth").value;
    var month = parseInt(monthStr);
    var dayStr = document.getElementById("birthDay").value;
    var day = parseInt(dayStr);
    if(month < 10) {
      monthStr = "0" + month.toString();
    }
    if(day < 10) {
      dayStr = "0" + day.toString();
    }
    var submitDob = monthStr + "-" + dayStr + "-" + year;
    document.getElementById("actDob").value = submitDob;
    return true;
  }
</script>
