<!-- Render User profile for loged in user-->


<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css">
</head>

<!-- retrive and display name of the user-->
<center>
	<h1><%= @pilot.name %></h1>
	<hr/>
</center>

<div style="display:table;max-width:1100px;width:90%;max-height:900px;height:90%;
			margin:0 auto;box-shadow:1px 1px 5px rgba(0,0,0,.1)">
	<!-- Render left side image -->
  	<div class="col-md-6">
    	<div class="col-md-12">
    		<div class="illustration" style="text-align:center;padding:0 0 0px;font-size:300px;color:#8AC3EA;">
    			<i class="icon-plane"></i>
    		</div>
  		</div>
  	</div>
  	<!-- Render user specific information on right side -->
  	<div class="col-md-6">
		<div class="col-md-12">
			<h2>Information</h2>
		</div>
		<div class="col-md-12">
			<ul>
				<li>Home Airport: <%= @pilot.base %></li>
				<li>Ratings and Privileges: <%= @pilot.rating %></li>
				<li><%= @pilot.instrument ? "Instrument Rated" : "Not Instrument Rated" %></li>
				<% if @pilot.airplanes.first != nil %>
					<li>Typically flies a <%= @pilot.airplanes.first.make %></li>
				<% end %>
			</ul>
		</div>
    </div>
</div>


