.navbar-inverse {
	background-color: #232d32 !important;
	border: none;
}

li a:hover {
   color: #ccc !important;
}

.dropdown {
	font-family: Lato, sans-serif !important;
	cursor:pointer !important;
	li a {

		color: #5b6970 !important;	
		cursor:pointer !important;

	}
	
}

body { padding-top: 70px; }

#header-logo {
	height: 35px;
  position: fixed;
  left: 20px;
  margin-top: -7px;
}

.header-avatar {
	margin-top:15px;
	float:right;
}
