<!-- Frontend script used to hit backend endpoint for creating plan and retriving weather-->

<script type="text/javascript">
  //Function used to render the weather information at the front end
  function parseWeatherInfo(metar, weatherType) {
    var metarObj = metar["METAR"];
    if(metarObj) {
      if(weatherType == "departure") {
        $('#plan-departure-weather').html(
        '<h1 style="font-family: HelveticaNeue-Thin; font-weight: bold; font-size:20px">Weather at ' + metarObj["station_id"] + '</h1>'
        + 'Wind: ' + metarObj['wind_dir_degrees'] + '@' + metarObj['wind_speed_kt']
        + '<br/>Temperature: ' + metarObj['temp_c']
        + '<br/>Dewpoint: ' + metarObj['dewpoint_c']
        + '<br/>Altimeter (mmHg): ' + metarObj['altim_in_hg']
        + '<br/>Flight Outlook: ' + metarObj['flight_category'] + '<br/>'
        );

        if( $.isArray(metarObj['sky_condition'])) {
          for(var i  = 0; i < metarObj['sky_condition'].length; i++) {
            var conditions = metarObj['sky_condition'][i];
            $('#plan-departure-weather').append('Sky Condition: ' + conditions['cloud_base_ft_agl']
            + ' ' + conditions['sky_cover'] + '<br/>');
          }
        }
      } else if(weatherType == "destination") {
        $('#plan-destination-weather').html(
          '<h1 style="font-family: HelveticaNeue-Thin; font-weight: bold; font-size:20px">Weather at ' + metarObj["station_id"] + '</h1>'
          + 'Wind: ' + metarObj['wind_dir_degrees'] + '@' + metarObj['wind_speed_kt']
          + '<br/>Temperature: ' + metarObj['temp_c']
          + '<br/>Dewpoint: ' + metarObj['dewpoint_c']
          + '<br/>Altimeter (mmHg): ' + metarObj['altim_in_hg']
          + '<br/>Flight Outlook: ' + metarObj['flight_category'] + '<br/>'
        );

        if( $.isArray(metarObj['sky_condition'])) {
          for(var i  = 0; i < metarObj['sky_condition'].length; i++) {
            var conditions = metarObj['sky_condition'][i];
            $('#plan-destination-weather').append('Sky Condition: ' + conditions['cloud_base_ft_agl']
            + ' ' + conditions['sky_cover'] + '<br/>');
          }
        }
      }
    }
  }

  // Submit plan function
  $('#plan-form').submit(() => {
		$('#plan-button').prop('disabled', true);
    // Generate HTML for the loading icone
		$('#plan-output').html('<div class="loader"></div><h1 style="font-family:HelveticaNeue-Thin; font-size:16px; margin-top:5px">Please wait... We are compiling your flight plan</h1>');
    $('#plan-departure-weather').text('Checking weather');
    $('#plan-destination-weather').text('Checking weather');
    // Endpoint on backend
		var apiUrl = "/api/v1/plan";
    //Format inputed values
		var departure = $('#departure-ident').val();
    departure = departure.replace(/[^A-Z0-9]/ig, "");
		var destination = $('#destination-ident').val();
    destination = destination.replace(/[^A-Z0-9]/ig, "");

    // error detection, then make backend call, then render appropriate message
    if(destination.length == 4 && departure.length == 4) {
      var destinationWeatherUrl = "/weather/info?icao=" + destination;
      $.get({
        url: destinationWeatherUrl,
        success: function(res) {
        parseWeatherInfo(res, "destination");
        },
        error: function() {
          $('#plan-destination-weather').html('<h1 style="font-family:HelveticaNeue-Thin; font-size:16px; margin-top:5px;margin: 12px;">An error occurred</h1>');
        }
      });
      var departureWeatherUrl = "/weather/info?icao=" + departure;
      $.get({
        url: departureWeatherUrl,
        success: function(res) {
          parseWeatherInfo(res, "departure");
        },
        error: function() {
          $('#plan-departure-weather').html('<h1 style="font-family:HelveticaNeue-Thin; font-size:16px; margin-top:5px;margin: 12px;">An error occurred</h1>');
        }
      });
    } else {
      $('#plan-departure-weather').text('Please enter a valid ICAO identifer.');
      $('#plan-destination-weather').text('Please enter a valid ICAO identifer.');
    }

    var altitude = $('#plan-altitude').val();
    var speed = $('#plan-speed').val();
    var data = {
      'departure' : departure,
      'destination' : destination,
      'speed' : speed,
      'altitude' : altitude,
    };
    //Plan was correctly generated: render link on frontend, otherwise tell user it occured an error
		$.post({
      url: apiUrl,
      data: data,
      success: function(res) {
        $('#plan-output').html(
          '<a href="' + res["link"] + '" target="_blank"><h1 style="font-family: HelveticaNeue;font-size:32px;margin-top: 5px">Download Your Custom Flightplan</h1></a>'
        );
        $('#plan-button').prop('disabled', false);
      },
      error: function(err) {
        $('#plan-output').html('<h1 style="font-family:HelveticaNeue-Thin; font-size:16px; margin-top:5px">An error occurred when compiling your flight plan<h1>');
        $('#plan-button').prop('disabled', false);
      }
    });
	  return false;
	});

</script>











