<!-- Page to create a new plan, and render the result on -->

<br/><br/><br/>

<!-- inline style CSS for the letter layout (outlined box with shadow, all page current content contained in this) -->
<div style="display:table;max-width:1100px;width:90%;max-height:900px;height:90%;
        margin:0 auto;box-shadow:1px 1px 5px rgba(0,0,0,.1)">
      
    <!-- render form on the very left  -->
    <div class="col-md-4">
    	<div class="col-md-12" style="margin: 16px;border-style: solid;border-color: lightgrey; border-radius: 15px; border-width: 1px">
    		<center>
    			<h1 style="font-family: 'HelveticaNeue';font-size:32px;margin-top: 5px">New Flight Plan</h1>
	    		<form method="POST" id="plan-form">
					<%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
					<label>Departure ICAO</label>
					<br/>
					<input id="departure-ident" class="form-control" type="text" name="departure" placeholder="Departure ICAO" 
							style="text-align:center;" required="" pattern="[A-Za-z]{4,4}"/>
					<br/>
					<br/>
					<label>Destination ICAO</label>
					<br/>
					<input id="destination-ident" class="form-control" type="text" name="destination" placeholder="Destination ICAO"
							style="text-align:center;" required="" pattern="[A-Za-z]{4,4}"/>
					<br/>
					<br/>

					<label>Cruising Altitude</label>
					<br/>
					<input id="plan-altitude" class="form-control" type="text" name="altitude" placeholder="Altitude" style="text-align:center;" required="" pattern="[0-9]{4,5}"/>
					<br/>
					<br/>
					<label>Cruising Speed</label>
					<br/>
					<input id="plan-speed" class="form-control" type="text" name="speed" placeholder="Cruise Speed in knots" 
							style="text-align:center;" required="" pattern="[0-9]{2,3}"/>
					<br/>
					<div class="col-md-6 col-md-offset-3" style="margin-bottom: 10px">
						<input id="plan-button" type="submit" value="Plan" class="btn btn-primary"/>
					</div>
				</form>
	    	</center>
    	</div>
    </div>

    <!-- Render reult on right side (empty if user has yet to request a plan) -->
    <div class="col-md-8">
    	<div class="col-md-12">
    		<!-- Render departure weather -->
    		<div class="col-md-6">
    			<div id="plan-departure-weather">
				</div>
    		</div>
    		<!-- Render destination weather -->
    		<div class="col-md-6">
    			<div id="plan-destination-weather">
				</div>
    		</div>

    		<!-- Render the loading icon and plan when done-->
    		<div class="col-md-12">
	    		<style>.loader{position:relative; top:20%; left:50%; z-index: 1;width: 150px;height: 150px;margin: -75px 0 0 -75px;border: 16px solid #f3f3f3;border-radius: 50%;border-top: 16px solid #3498db;width: 120px;height: 120px;-webkit-animation: spin 2s linear infinite;animation: spin 2s linear infinite;}@-webkit-keyframes spin {0% { -webkit-transform: rotate(0deg); }100% { -webkit-transform: rotate(360deg); }}@keyframes spin {0% { transform: rotate(0deg); }100% { transform: rotate(360deg); }}
	    		</style>
    			<br/><br/><br/><br/>
    			<div id="plan-output">
				</div>
    		</div>
    	</div>
    </div>

    <!-- Import the script for calling endpoints and formating result from backend -->
	<%= render 'scripts' %>

</div>
