<!--  Footer for all pages of application -->


<!-- CSS to format footer correctly-->
<style> 
  #myFooter {
    background-color: #373a48 ;
    color:white;
    position:relative;
    bottom: 0;
    width: 100%;
    margin-top: 285px;
  }

  #myFooter .myCols{
    text-align: center;
  }

  @media screen and (max-width: 100%){
    #myFooter {
      text-align: center;
    }
  }

  html{
    height: 100% !important;
  }

  body{
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    height: 100%;
  }

  .content{
    flex: 1 0 auto;
    -webkit-flex: 1 0 auto;
    min-height: 200px;
  }

  #myFooter{
    flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
  }   
</style>

<!-- import required CSS for the line icon -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css">
</head>

<!-- simple footer with icon and application name. Primarily used to clearly indicate a end of page to user -->
<body>
  <footer id="myFooter">
    <div class="container">
      <div class="row" >
        <div class="col-md-16 myCols">
          <h1 style="font-family: 'HelveticaNeue';font-size:20px">ProgFlight</h1>
            <div class="illustration" style="text-align:center;padding:0 0 0px;font-size:32px;color:#8AC3EA;"><i class="icon-plane"></i></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
