<!-- Header for all pages of application. Provide access to different parts of application -->

<!-- The header renders diffrently dependent on if user is logged in or not -->

<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<!-- Render logo that brings you to application main page (if loged in, this is to flightplaning tool) -->
			<a href="/" class="navbar-brand">ProgFlight</a>
			 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false">
        	<span class="sr-only">Toggle navigation</span>
        	<span class="icon-bar"></span>
        	<span class="icon-bar"></span>
        	<span class="icon-bar"></span>
      		</button>
		</div>
		<div class="collapse navbar-collapse">
			<!-- render left part of header -->
			<ul class="nav navbar-nav navbar-left">
				<% if logged_in? %>					
						<li class="hidden-lg hidden-md hidden-sm"><a href="/pilots/<%= current_user.id %>">My Profile</a></li>
				<% end %>
				<% if logged_in? %>
					<li class="hidden-lg hidden-md hidden-sm"><a href="/settings">Settings</a></li>
				<% end %>
			</ul>
			<!-- render right part of header -->
			<ul class="nav navbar-nav navbar-right">
				<!-- 
				If loged in render with specific name for user and a drop down menue for setings, profile access, and logout. 
				-->
				<% if logged_in? %>
					<li class="hidden-xs hidden-sm hidden-md">
						<a style="padding:0;" href="/pilots/<%= current_user.id %>" class="header-avatar">
							<%= current_user.name %>
						</a>
					</li>
					<li class="hidden-xs hidden-lg">
						<a style="padding:0;" href="/pilots/<%= current_user.id %>" class="header-avatar">
							<%= current_user.name %>
						</a>
					</li>
					<li class="hidden-xs dropdown">
    					<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="10" data-close-others="false">
        					<b class="caret"></b>
    					</a>
    					<ul class="dropdown-menu">
        					<li><a tabindex="-1" href="/pilots/<%= current_user.id %>">Profile</a></li>
        					<li><a tabindex="-1" href="/settings">Settings</a></li>
        					<li class="divider"></li>
        					<li><a tabindex="-1" href="/logout">Logout</a></li>
    					</ul>
					</li>	
					<li class="hidden-sm hidden-md hidden-lg"><a href="/logout">Logout</a></li>
				<!-- If user is not logged in render sign up and log in link -->
				<% else %>
					<li><a href="/signup">Sign Up</a></li>
					<li><a href="/login">Log In</a></li>
				<% end %>
			</ul>
		</div>
	</div>
</div>