<!-- Rendered for every page of the application -->

<!DOCTYPE html>
<html>
  <head>
    <title>ProgFlight</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- Render header on every page -->
    <%= render 'layouts/header' %>

    <!-- Render error messages at the top of page -->
  	<div class="container">
  	  <% flash.each do |message_type, message| %>
  		  <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>

      <!-- Render the appropriate content on the page -->
      <div id="body">
    	  <%= yield %>
      </div>
    </div>
  
  <!-- Render the footer on the page -->
  <%= render 'layouts/footer' %>
  </body>

</html>
